/* Color Variables */
:root {
  --dark-violet: #7c5dfa;
  --light-violet: #9277ff;
  --navy: #1e2139;
  --slate: #252945;
  --mist: #dfe3fa;
  --pastel-violet: #7e88c3;
  --off-black: #0c0e16;
  --pastel-orange: #ec5757;
  --peach: #ff9797;
  --off-white: #f8f8fb;
  --off-white-btn: #f9fafe;
  --light-gray: #888eb0;
  --dark-gray: #373b53;
  --darker-gray: #141625;
}

.main {
  width: 100%;
  max-width: 730px;
  margin-inline: auto;
  padding: 32px 24px;
}
.invoiceOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  text-align: left;
  color: var(--off-black);
}
.invoiceOptions p {
  color: var(--light-gray);
}
.invoiceOptions.dark,
.invoiceOptions.dark .filterBtn {
  color: white;
}
.invoiceOptions.dark p {
  color: var(--mist);
}
.invoicesDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding-top: 32px;
}

@media (min-width: 768px) {
  .invoiceOptions {
    gap: 40px;
  }
}
