/* Color Variables */
:root {
  --dark-violet: #7c5dfa;
  --light-violet: #9277ff;
  --navy: #1e2139;
  --slate: #252945;
  --mist: #dfe3fa;
  --pastel-violet: #7e88c3;
  --off-black: #0c0e16;
  --pastel-orange: #ec5757;
  --peach: #ff9797;
  --off-white: #f8f8fb;
  --off-white-btn: #f9fafe;
  --light-gray: #888eb0;
  --dark-gray: #373b53;
  --darker-gray: #141625;
}

.container {
  margin-top: 16px;
  width: 100%;
  display: grid;
  grid-template-areas:
    "id clientName"
    "paymentDue status"
    "total status";
  column-gap: 2%;
  padding: 24px;
  background-color: white;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
}
.container:hover {
  cursor: pointer;
  outline: var(--dark-violet) 1px solid;
}
.container.dark {
  background-color: var(--navy);
  color: white;
}
.container.dark .pound,
.container.dark .paymentDue,
.container.dark .clientName {
  color: var(--mist);
}
.id {
  grid-area: id;
  margin-bottom: 24px;
}
.pound,
.paymentDue,
.clientName {
  color: #7e88c3;
}
.paymentDue {
  grid-area: paymentDue;
}
.clientName {
  grid-area: clientName;
  margin-bottom: 24px;
  justify-self: end;
}
.total {
  grid-area: total;
}
.statusBox {
  grid-area: status;
  justify-self: end;
}
.arrowRight {
  display: none;
}
@media (min-width: 660px) {
  .container {
    grid-template-areas: "id paymentDue clientName clientName clientName clientName total total total status arrow";
    align-items: center;
    gap: 3%;
  }
  .clientName {
    justify-self: unset;
  }
  .id,
  .paymentDue,
  .clientName {
    margin: 0;
    text-align: left;
  }

  .total,
  .statusBox,
  .arrowRight {
    text-align: right;
  }
  .arrowRight {
    display: initial;
    grid-area: arrow;
    justify-self: end;
  }
}
