/* Color Variables */
:root {
  --dark-violet: #7c5dfa;
  --light-violet: #9277ff;
  --navy: #1e2139;
  --slate: #252945;
  --mist: #dfe3fa;
  --pastel-violet: #7e88c3;
  --off-black: #0c0e16;
  --pastel-orange: #ec5757;
  --peach: #ff9797;
  --off-white: #f8f8fb;
  --off-white-btn: #f9fafe;
  --light-gray: #888eb0;
  --dark-gray: #373b53;
  --darker-gray: #141625;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-top: -32px;
  color: var(--pastel-violet);
}
.container.dark {
  color: var(--mist);
}
.container.dark .invoiceHead,
.container.dark .btnContainer,
.container.dark .invoiceDetails {
  background-color: var(--navy);
}
.backButton {
  align-self: flex-start;
  color: var(--off-black);
}
.backButton.dark {
  color: white;
}
.invoiceHead {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background: #ffffff;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  min-height: 88px;
  padding: 24px;
}
.container.dark .invoiceHead,
.container.dark .btnContainer {
  background-color: var(--navy);
}
.status {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  width: 104px;
  height: 40px;
  border-radius: 6px;
}
.statusPaid {
  color: rgb(51, 214, 159);
  background-color: rgba(51, 214, 159, 0.06);
}
.statusPending {
  color: #ff8f00;
  background-color: rgba(255, 143, 0, 0.06);
}
.statusDraft {
  color: #373b53;
  background-color: rgba(55, 59, 83, 0.06);
}
.container.dark .statusDraft {
  color: var(--mist);
  background-color: rgba(223, 227, 250, 0.06);
}
.bullet {
  font-size: 50px;
}
.btnContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  padding: 22px 24px;
  height: 91px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 10;
}
.invoiceDetails {
  padding: 24px;
  background-color: white;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  width: 100%;
}
.generalDetails {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.topInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.id {
  color: var(--off-black);
}
.detailsBold {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.3125px;
  margin-top: 12px;
  color: var(--off-black);
}
.container.dark .id,
.container.dark .detailsBold {
  color: white;
}
.customerDetails {
  display: flex;
  gap: 41px;
  flex-wrap: wrap;
}
.dates {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
}
.customerAddress address {
  margin-top: 8px;
}
.priceDetails {
  width: 100%;
  background-color: var(--off-white-bt);
  border-radius: 8px;
}
@media (min-width: 595px) {
  .invoiceHead {
    padding: 20px 32px;
    justify-content: flex-start;
  }
  .btnContainer {
    position: static;
    background-color: transparent;
    box-shadow: none;
    width: auto;
    height: auto;
    padding: 0;
    margin-left: auto;
  }
  .invoiceDetails {
    padding: 32px;
  }
  .topInfo {
    flex-direction: row;
    justify-content: space-between;
  }
  .topInfo address {
    text-align: right;
  }
  .customerDetails {
    justify-content: space-between;
  }
}
@media (min-width: 1000px) {
  .invoiceDetails {
    padding: 48px;
  }
}
