.status {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  width: 104px;
  height: 40px;
  border-radius: 6px;
}
.statusPaid {
  color: #33d69f;
  background-color: rgba(51, 214, 159, 0.06);
}
.statusPending {
  color: #ff8f00;
  background-color: rgba(255, 143, 0, 0.06);
}
.statusDraft {
  color: #373b53;
  background-color: rgba(55, 59, 83, 0.06);
}
.status.dark.statusDraft {
  color: #dfe3fa;
  background-color: rgba(223, 227, 250, 0.06);
}
.bullet {
  font-size: 50px;
}
