/* Color Variables */
:root {
  --dark-violet: #7c5dfa;
  --light-violet: #9277ff;
  --navy: #1e2139;
  --slate: #252945;
  --mist: #dfe3fa;
  --pastel-violet: #7e88c3;
  --off-black: #0c0e16;
  --pastel-orange: #ec5757;
  --peach: #ff9797;
  --off-white: #f8f8fb;
  --off-white-btn: #f9fafe;
  --light-gray: #888eb0;
  --dark-gray: #373b53;
  --darker-gray: #141625;
}
.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  color: var(--pastel-violet);
  background-color: rgba(12, 14, 22, 0.5);
}
.container.dark {
  color: var(--light-gray);
}
.container form {
  margin-top: 72px;
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 24px 24px 300px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.container.dark form {
  background-color: var(--darker-gray);
}
.container.dark form h1 {
  color: white;
}
.container form h4 {
  color: var(--dark-violet);
}
.container form::-webkit-scrollbar {
  width: 8px;
}
.container form::-webkit-scrollbar-thumb {
  background-color: #dfe3fa;
  border-radius: 4px;
}
.container.dark form::-webkit-scrollbar-thumb {
  background-color: #252945;
}
.calendarDark {
  background-color: #252945;
  color: #dfe3fa;
}
/* Bill From */
.billFrom {
  max-width: 100%;
  display: grid;
  grid-template-areas:
    "streetFrom streetFrom"
    "cityFrom postCodeFrom"
    "countryFrom countryFrom";
  column-gap: 23px;
  row-gap: 24px;
}
.streetFrom {
  grid-area: streetFrom;
}
.cityFrom {
  grid-area: cityFrom;
}
.postCodeFrom {
  grid-area: postCodeFrom;
}
.countryFrom {
  grid-area: countryFrom;
}
/* Bill To */
.billToTitle {
  margin-top: 16px;
}
.billTo {
  max-width: 100%;
  display: grid;
  grid-template-areas:
    "clientName clientName"
    "clientEmail clientEmail"
    "streetTo streetTo"
    "cityTo postCodeTo"
    "countryTo countryTo";
  column-gap: 23px;
  row-gap: 24px;
}
.clientName {
  grid-area: clientName;
}
.clientEmail {
  grid-area: clientEmail;
}
.streetTo {
  grid-area: streetTo;
}
.cityTo {
  grid-area: cityTo;
}
.postCodeTo {
  grid-area: postCodeTo;
}
.countryTo {
  grid-area: countryTo;
}

.generalDetails {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 16px;
}
.itemList {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.btnSection {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 20px;
  background-color: inherit;
  box-shadow: 0px -5px 50px 5px rgba(0, 0, 0, 0.1);
}
.container.dark form .btnSection {
  box-shadow: 0px -5px 50px 5px rgba(0, 0, 0, 0.5);
}
.btnDiscard {
  margin-right: auto;
}
@media (min-width: 375px) {
  .container form {
    padding: 24px 24px 225px 24px;
  }
  .btnSection {
    gap: 7px;
  }
}
@media (min-width: 700px) {
  .container form {
    width: 616px;
    border-radius: 0px 20px 20px 0px;
    padding: 56px 56px 250px 56px;
  }

  .container form h1 {
    margin-bottom: 24px;
  }
  .billFrom {
    grid-template-areas:
      "streetFrom streetFrom streetFrom"
      "cityFrom postCodeFrom countryFrom";
    gap: 24px;
  }
  .billTo {
    grid-template-areas:
      "clientName clientName clientName"
      "clientEmail clientEmail clientEmail"
      "streetTo streetTo streetTo"
      "cityTo postCodeTo countryTo";
    gap: 24px;
  }
  .generalDetails {
    display: grid;
    grid-template-areas:
      "date dropDown"
      "productDesc productDesc";
  }
  .date {
    grid-area: date;
  }
  .dropDown {
    grid-area: dropDown;
  }
  .productDesc {
    grid-area: productDesc;
  }
  .itemHeading {
    min-width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 18px;
  }
  .name {
    min-width: 211px;
  }
  .qty {
    grid-area: qty;
    min-width: 45px;
  }
  .price {
    min-width: 97px;
  }
  .itemList {
    gap: 16px;
  }
  .btnSection {
    width: 616px;
    padding: 31px 56px;
    border-radius: 0px 20px 20px 0px;
    justify-content: flex-end;
    gap: 8px;
  }
}
@media (min-width: 768px) {
  .container form {
    margin-top: 80px;
  }
}
@media (min-width: 1000px) {
  .container form {
    margin-top: 0;
    width: 719px;
    padding-left: 159px;
    padding-bottom: 175px;
    height: 100%;
  }
  .btnSection {
    width: 719px;
    padding: 31px 56px 31px 159px;
  }
}
