/* Color Variables */
:root {
  --dark-violet: #7c5dfa;
  --light-violet: #9277ff;
  --navy: #1e2139;
  --slate: #252945;
  --mist: #dfe3fa;
  --pastel-violet: #7e88c3;
  --off-black: #0c0e16;
  --pastel-orange: #ec5757;
  --peach: #ff9797;
  --off-white: #f8f8fb;
  --off-white-btn: #f9fafe;
  --light-gray: #888eb0;
  --dark-gray: #373b53;
  --darker-gray: #141625;
}
.container {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 20;
}

.container form {
  background-color: white;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container.dark form {
  background-color: var(--darker-gray);
}
.container.dark form h1 {
  color: white;
}
.container form h4 {
  color: var(--dark-violet);
}

/* Bill From */
.billFrom {
  max-width: 100%;
  display: grid;
  grid-template-areas:
    "streetFrom streetFrom"
    "cityFrom postCodeFrom"
    "countryFrom countryFrom";
  column-gap: 23px;
  row-gap: 24px;
}
.streetFrom {
  grid-area: streetFrom;
}
.cityFrom {
  grid-area: cityFrom;
}
.postCodeFrom {
  grid-area: postCodeFrom;
}
.countryFrom {
  grid-area: countryFrom;
}
/* Bill To */
.billToTitle {
  margin-top: 16px;
}
.billTo {
  max-width: 100%;
  display: grid;
  grid-template-areas:
    "clientName clientName"
    "clientEmail clientEmail"
    "streetTo streetTo"
    "cityTo postCodeTo"
    "countryTo countryTo";
  column-gap: 23px;
  row-gap: 24px;
}
.clientName {
  grid-area: clientName;
}
.clientEmail {
  grid-area: clientEmail;
}
.streetTo {
  grid-area: streetTo;
}
.cityTo {
  grid-area: cityTo;
}
.postCodeTo {
  grid-area: postCodeTo;
}
.countryTo {
  grid-area: countryTo;
}

.generalDetails {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 16px;
}

@media (min-width: 1000px) {
  .container {
    padding-left: 103px;
  }
}
