/* Color Variables */
:root {
  --dark-violet: #7c5dfa;
  --light-violet: #9277ff;
  --navy: #1e2139;
  --slate: #252945;
  --mist: #dfe3fa;
  --pastel-violet: #7e88c3;
  --off-black: #0c0e16;
  --pastel-orange: #ec5757;
  --peach: #ff9797;
  --off-white: #f8f8fb;
  --off-white-btn: #f9fafe;
  --light-gray: #888eb0;
  --dark-gray: #373b53;
  --darker-gray: #141625;
}

.itemContainer {
  width: 100%;
  display: grid;
  grid-template-areas:
    "name name name name"
    "qty price total delete";
  row-gap: 24px;
  column-gap: 16px;

  color: var(--pastel-violet);
}
.itemContainer.dark {
  color: var(--light-gray);
}
.name {
  grid-area: name;
}
.qty {
  grid-area: qty;
  min-width: 20.8%;
}
.price {
  grid-area: price;
  min-width: 30.58%;
}
.total {
  grid-area: total;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: auto;
}
.total .bold {
  font-weight: 700;
  height: 48px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.delete {
  grid-area: delete;
  padding: 0;
  height: 48px;
  justify-self: end;
  align-self: end;
}
.delete svg {
  fill: var(--light-gray);
}
.delete:hover svg {
  fill: var(--pastel-orange);
}
@media (min-width: 700px) {
  .itemContainer {
    grid-template-areas: "name qty price total delete";
    row-gap: 18px;
  }
  .name {
    width: 214px;
  }
  .qty {
    width: 46px;
  }
  .price {
    width: 100px;
  }
}
